@import '@splidejs/vue-splide/css';
@import 'aos/dist/aos';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Montserrat;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.umbg {
  @apply bg-[url('https://lh3.googleusercontent.com/fife/APg5EOZFD0RubrRSQF_WEM56vu3MTc0hO8Q3bjDPohpHwhxaxfFCpXfUGCmtrP28xVgMKQwpIWTMsL0TdyxkicEc6ChFW5CIwytjVCVCn0FJseJaeiQff2cXgivXyXfgKNsCDjyuHQx2iKMvAcYEv3oZlCbmAqIGv4YVOj8O8OBX9lps55zn-huTyS8XClSnPCx_YvVVmaFuM9vEmYeI19Q1fPb1sJHxtATVqLlNmm-QDRPdmcqNSCH39KEnr5q7d1tlZiH1ZQ9m5OB4g-_-Cczz08OyxW12KoTAUSgs4fFCM0mdWa-PzJnzgDlAXcYXdYPrsiwYunOrtziTMqzodTb_GVTk_Dl7bMWsUkj_W9v0r2kSQsU89l1leJRFKEDHeB7CwjfSCX29I0Gbq_WfVnDw2vkcAcTvIVJppm8kCmVgR9H3qzZXwQd5x5t-WtjNDcEbfkZWOw4Q9dSJ6eTU4oGtOx81kRRvLsVXljYtIp0yqEaAdbOQkEPUbck14aD_37Uvs5q1oG_UUTaY2sq0IG2GaYM7tSwtRyxKGR7gikXaoNHac5YXaDSTOD-8-RQshimWgdLQFK35hwjxWYJet5FVruqsU7tNqxtyuqOs5x-fXvnEndsyfclse61MAAcuoCBHM3Q-GsIBbf63pcrNkNle_K1nHypPN8AylmWPFUwzKyuq2QVaLlvzRZ_UmsQj4tXS8HiS1YHl49vxHRqKUPEnjuu0BBjvoxwUN_7LKzql7TFrWbLcl38v0-S6S6Gch1bDvG8jJOfslm_zdWJ5p-WnCas4Kk0zyye-c1_R1mcrMpS6b9_n66YWEz5tDqJmQODCz9BExExXgpsxcpxPqT38RU6yKE7SBPwm0-70wBsD59wrjh-EFB5krHRWqI4l5WREkUV1yXdbNdNmAuX-vPaTzVYNQu2rUDOlhZn-gbkA8SKM3cylHX1jYfmJRI93Gy8qvANGLNG4k2lOhe91FeJq7EYYLmXbKnwd1XG-_wtLeddHMixQAypMVtOaIejGeEvlL1WhAaUOmsUM8ittCmjITMgTTXXSiFa-34X9rZfUBwmQkc4Qbanc8Zl0k8V6fGt3GlHgpq1b8KUC73RB8uG_TgPuxl5K1EA08CYTO8W0McxaL4M421uZa2hB-jHJ4xHGkQEiWYIbwSIr608b3b4bVfNvL7FMI9VS_AEntXnlmrahakroK1kSzVp0AQuzA4th3VfLQamvKJKMmkBou2ue9XAu41W_twOEDJ3eZVt03fpaS6i4N8mxxki3N0tt2Myfg7lYVX8jo4x00ttt5XTgbCWLoGihvJPQJ3-EnKJN_E6gPHrsZTyHhwHNhojzV3yBHWbT_t1ZOK1sF7bVQBfWxh8Fa_cid3GQ-WPTCXATh35CKfT9Q7F8Pzx_afJMKIOjHSXkH0kIgwQbibw7xoDxS6sPbPt2SkvAyjlLzcgKxEOA9IB_0cYp33GfOp13XEUn6t5FUm-rwvzTk0cKvmn3-_SYKLKa1eRh0j3RWpsDjVw8YoP4fLRkzvkz3UBDcZdnfUqqkQNi11XoWuaqKHxUO7V8mHLzT4Sk3KRd=w1848-h901')] bg-center bg-no-repeat bg-fixed bg-cover;
}

.stick-time {
  @apply sticky left-0 bg-slate-50;
}